.likee{
  border: none;
}

*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
  background-color:#2C3639;
  color: #DCD7C9;
  font-family: 'Playfair Display', serif;

}
body{
  background-color: rgb(15,15,15)
}
.nav-item h3{
  font-family: 'Playfair Display', serif;
}
#navv li a{
  color: #DCD7C9;
}
.about{
  font-size: 2vw;
  text-align: center;
  padding: 10vw;
  font-family: 'Playfair Display', serif;
  

}
.heading h1{
  color:#DCD7C9;
  font-size: 48px;
  font-weight:900;
  letter-spacing: 1px;
  padding-top:2rem;
  text-align: center;
}
.heading h4{
  color:#DCD7C9;
  text-align: center;
}
.searchBox{
  text-align: center;
  margin:3rem;
 
}
.search-bar{
  width:400px;
  height:40px;
  border:2px solid black;
  outline:none;
  border-radius: 20px;
  padding: 0.3rem 1rem;
}
.notSearch{
  font-size: 35px;
  color:b;
  font-weight:900;
}
.container{
  width:80%;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  width:300px;
  height:400px;
  margin:1.5rem;
  background: linear-gradient(to left,rgb(204, 255, 51,0.5),to left,rgb(255, 255, 255,0.9));
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
  position:relative;
}
.card img{
  width:100%;
}
.card .info{
  color:#DCD7C9;  
  text-align: center;
}

.card .info h2{
    margin:0;
    font-weight: 900;
    margin-top: 15px;
}
.card .info p{
  margin: 0;
  font-size: 17px;
  letter-spacing: 2px;
  margin-top: 10px;
}
.card:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height:0;
  width:100%;
  transition:0.2s All;
}
.card:hover:before{
  height: 100%;  
 
}

.card .recipe{
  position: absolute;
  top:0;
  left:0;
  text-align: justify;
  padding: 0.5rem 1rem;
  display: none;
  transition: 0.3s all;
}
.card:hover .recipe{
  display:block;
}
.recipe h2{
  margin-bottom:10px;
}
.recipe img{
  width: 100px;
  height:100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.recipe p{
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.recipe a{   
  display: block;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.btn-dark {
  background-color: #090909;
  color: white;
  border-radius: 6px;
  padding: 12px 20px;
}


h1 {
  font-weight: normal;
  font-family: 'Crete Round', georgia, serif;
  color: #DCD7C9;
  text-shadow: 0 2px 2px #111;
  margin-bottom: 40px;
  text-transform: capitalize;
}

input {
  border-radius: 3px;
  box-shadow: 0 2px 2px #000;
}

.page {
  width: 500px;
  margin: 50px auto 0;
}

form input,
form input:focus {
  padding: 10px 13px;
  border: 0;
  outline: 0;
}

form input[type="email"] {
  margin-right: 15px;
  width: 300px;
  color: #DCD7C9;
  border: #DCD7C9;
}

form input[type="submit"] {
  padding: 10px 15px;
  color: #c0d6db;
  text-shadow: 0 2px 2px #333;
  box-shadow: inset 0 0 0 transparent;
  background: #508f9f;
  transition: all .3s ease-in-out;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  box-shadow: inset 0 0 50px rgba(255,255,255, 0.3),
                    0 0 10px rgba(255,255,255, 0.1);
  color: white;
  margin-left: 10px;
}